* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Times New Roman', Times, serif;
}

body {
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

header {
    background-color: white;
    border-bottom: 1px solid #CCC;
}

.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}

.btn-primary {
    background-color: #8500be;
    border: none;
}

.btn-primary:hover {
    background-color: #af27ea;
}

.msg {
    background-color: #00be33;
    color: white;
    /* border-radius: 5px; */
    width: 100%;
    margin-bottom: 0px;
    text-align: center;
    padding: 10px;
}

/* nabra */

#navbar img {
    width: 40px;
}

#navbar {
    justify-content: space-between;
    background-color: white;
    padding: 5px 0;
}

#navbar a {
    font-size: 14px;
    color: #757575;
}

#navbar a:hover {
    font-size: 14px;
    font-weight: 700;
    color: #af27ea;
}

/* Search container */

#search-container {
    background-image: url("../img/bg.png");
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 50px;
    text-align: center;
}

#search-container h1 {
    color: white;
    margin-bottom: 30px;
    font-weight: 800;
}

#search-container form {
    width: 50%;
    margin: 0 auto;
}

#events-container {
    padding: 50px;
}

#events-container h2 {
    margin-bottom: 10px;
}

#events-container .subtitle {
    color: #8500be;
    margin-bottom: 30px;    
}

#cards-container {
    display: flex;
}

#events-container .card {
    flex: 1 1 24%;
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin: .5%;
}

#events-container img {
    max-height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .card-date {
    font-size: 12px;
    color: #CCC;
}

.card .card-title {
    color: #8500be;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.card-participants {
    font-size: 14px;
    color: #757575;
}

#event-create-container {
    padding: 30px;
}

#event-create-container label {
    font-weight: bold;
}

#event-create-container .form-group {
    gap: 5px;
}

#event-create-container input,
#event-create-container select,
#event-create-container textarea {
    font-size: 12px;
}

/* Event Page */

#image-container,
#info-container {
    margin: 30px 0;
}

#image-container img {
    border-radius: 10px;
}

#info-container h1 {
    font-size: 16px;
    font-weight: 900;
}

#info-container p {
    margin: 0;
    font-size: 14px;
    display: flex;
}

#info-container h3,
#description-container h3 {
    font-size: 20px;
    font-weight: bold;
}

#info-container ion-icon {
    color: #8500be;
    font-size: 20px;
    margin-right: 5px;
}

#info-container #event-submit {
    margin: 20px 0;
}

/* footer */

footer {
    text-align: center;
     background-color: #353e48;
     color: white;
     padding: 30px;
     position: absolute;
     bottom: 0;
     width: 100%;
}

footer p {
    margin: 0;
}
